@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
body {
background-color: #d3d1d1;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:;
}
li, a {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color:#24252A ;
}
header h2 {
    color: white;
    margin-right: auto;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0,3s ease 0s;
}
.nav-links li a :hover {
    color: #0088a9;
}
button {
    padding: 9px 25px;
    background-color: rgba(0, 91, 114, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button :hover {
    background-color: rgba(0, 59, 73, 0.8);
}
.box{
    background-color: #323542;
    width: 100%;
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: "montserrat", sans-serif;
}
.box-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
main {
    clear: both;
    display: block;
    padding: 10px 60px;
}
main h1 {
    padding-top: 2%;
    padding-left: 25rem;
    font-family: "montserrat", sans-serif;
}
article {
    width: 70%;
    float: left;
    padding: 20px;
    font-family: "montserrat", sans-serif;
}
article h2 {
    padding-bottom: 10px;
}
article p {
    text-align: justify;
}
section {
    margin-top: 40px;
    clear: both;
    display: block;
}
aside {
    width: 25%;
    padding: 20px;
    padding-right: 5px;
    text-align: center;
    float: right;
    font-family: "montserrat", sans-serif;
}
aside h2 {
    padding: 15px;
}
aside h3 {
    padding: 15px;
}
aside img {
    width: 150px;
    height: 150px;
}
aside li a {
    color: black;
}
footer {
    position: relative;
    height: 80px;
    margin-top: -100px;
    clear: both;
    background-color: #24252A;
}
footer p {
    color: white;
    text-align: center;
    font-family: "montserrat", sans-serif;
    padding-top: 30px;
    margin
}